.learn_more {
    background: url(../assets/IMG_1334_72dpi_RGB.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 665px;
    margin-top: 80px;
}

.learn_more_h1 {
    color: #FFFFFF;
    padding-top: 84px;
}

.learn_more_h3 {
    color:#FFFFFF;
    margin-top: 70px;
}

.learn_more_button {
    font-family: Oswald Regular;
    font-size: 60px;
    line-height: 26px;
    /* or 186% */
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-top: 53px;
    background: url(../assets/Learn-more-button.png);
    width: 150px;
    height: 150px;
    border: 0px;
    padding: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
